:root {
  /* Colors */
  --background-color: #ffffff79;
  --text-primary: #111827;
  --text-secondary: #4b5563;
  --accent-color: #3b82f6;
  --accent-color-dark: #1d4ed8;
  --border-color: #e5e7eb;
} 